
body {
background: #000;
margin: 0; /* Remove default body margin */
}
.header{
display: flex;
flex-direction: column;
justify-content: center;
color: #B5FFA2;
text-align: center;
font-family: monospace;
font-size: 36px;
font-weight: 700;
line-height: 30px;
margin-top:2%;
padding: 3%;
}

.subheader{
display: flex;
flex-direction: column;
justify-content: center;
color:#FFF;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 28px; /* 112% */
font-style: normal;

}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500; /* You can adjust the weight as needed */
  src: url('./font-inter/static/Inter-Bold.ttf') format('woff2');
  
}

#content1::after{
  content: "\a";
  white-space: pre;
}

#content2::before{
  content: "\a";
  white-space: pre;
}


.box-container{
  padding:3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box1 {
  width: 701px;
  height: 404px;
  /* border-radius: 30px; */
  background: #7EBAFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 20px; /* Add padding to all sides */
  margin:auto;
}

.text-heading{
display: flex;
width: 514px;
height: 56px;
flex-direction: column;
justify-content: center;
color: #130185;
text-align: center;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 28px; /* 112% */
}

.content-box3{
  width: 650px;
  height: 250px;
  margin:auto;
  background:black;
  border-radius:30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.list-resolutions {
  display: flex;
  width: 570px;
  height: 210px;
  flex-direction: column;
  justify-content: center;
  color: #9F9F9F;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.download-png{
  border-radius: 30px;
  background: #B5FFA2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #043609;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content:;
  margin:auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (left) */
  align-self: flex-end; /* Align the button to the end (right) */
}
/* .list-resolutions textarea{
  display: flex;
  width: 465px;
  height: 107px;
  flex-direction: column;
  justify-content: center;
  color: #9F9F9F;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 186.667% */
  /* margin-left:2%;
  padding:2%;
  overflow: hidden;
  } */ 
